html {
  margin-bottom: 500px;
}

/* 顶部导航栏样式 */
.topnav {
  width: 100%;
  height: 40px;
  background-color: #333333;
}

/* 顶部导航栏左部样式 */
.topnav-left {
  float: left;
  line-height: 40px;
}

/* 顶部导航栏a链接样式 */
.topnav a {
  color: #919e9d;
}

.topnav a:hover {
  color: #fff;
}

.topnav i {
  color: #91939d;
  padding: 0px 7px;
}

/* 顶部导航栏右部样式 */
.topnav-right {
  float: right;
  line-height: 40px;
}

.topnav-right a span {
  font-size: 13px;
}

.topnav-right a:last-child {
  display: inline-block;
  text-align: center;
  margin-left: 25px;
  width: 120px;
  height: 40px;
  background-color: #424242;
}

.topnav-right a:last-child:hover {
  background-color: #fff;
  color: #ff6752;
}

/* 搜索栏部分 */
.searchnav {
  width: 100%;
  height: 100px;
}

/* 搜索栏logo样式 */
.searchnav-logo {
  float: left;
  margin-top: 22.5px;
  margin-right: 190px;
  background-position: center;
  width: 55px;
  height: 55px;
  background-image: url(../../img/index-img/mi-logo.png);
  background-color: #ff6700;
}

.searchnav-logo:hover {
  background-image: url(../../img/index-img/mi-home.png);
  background-color: #ff6700;
}

/* 搜索栏Tab样式 */
.searchnav-tab {
  float: left;
  margin-right: 66px;
}


.searchnav-tab a {
  font-size: 15px;
  margin-right: 20px;
  line-height: 100px;
}

.searchnav-tab a:hover {
  color: #ff6700;
}

/* 搜索栏-搜索栏样式 */
.searchnav-search {
  position: relative;
  float: right;
  width: 295px;
  height: 50px;
  /* box-sizing: border-box; */
  margin-top: 25px;
  /* border: 1px solid #e0e0e0; */
}

.searchnav-search input {
  float: left;
  width: 243px;
  height: 48px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-right: none;
}

.searchnav-search button {
  float: left;
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
}

.searchnav-search button:hover {
  color: #fff;
  background-color: #ff6700;
}

.searchnav-search div {
  position: absolute;
  left: 70px;
  top: 20px;
}

.searchnav-search div span {
  margin-left: 6px;
  background-color: #eeeeee;
}

.searchnav-search div span:hover {
  color: #fff;
  background-color: #ff6700;
}

/* 轮播图样式 */
.LunBoTu {
  height: 460px;
}

.LunBoTu-CBL {
  position: absolute;
  padding-top: 20px;
  left: 0;
  top: 0;
  display: block;
  width: 234px;
  height: 460px;
  background-color: #737c7f;
  box-sizing: border-box;
}

.LunBoTu-CBL>li>a {
  display: block;
  line-height: 42px;
  padding-left: 30px;
  font-size: 14px;
  box-sizing: border-box;
}

.LunBoTu-CBL>li>a:hover {
  background-color: #ff6700;
  color: #fff;
}

.LunBoTu-CBL>li>a>span {
  font-size: 16px;
  float: right;
  padding-right: 24px;
}

/* 电源配件样式 */
.power {
  position: relative;
  transition: all 0.2s;
}

.power:hover .powers {
  display: block;
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
  z-index: 12;
}

.powers {
  position: absolute;
  width: 500px;
  height: 460px;
  background-color: #FFF;
  left: 234px;
  top: -270px;
  display: none;

}

.powers ul {
  float: left;
  width: 240px;
  height: 460px;
}

.powers ul li {
  height: calc(460px/6);
}

.powers ul li a {
  text-align: center;
  line-height: calc(460px/6);
}

.powers ul li a:hover {
  color: #ff6700;
}

.powers ul li a img {
  margin-left: 30px;
  vertical-align: middle;
}

/* 手机 电话卡样式 */
.phonecall {
  position: relative;
  transition: all 0.2s;
}

.phonecall:hover .phonescall {
  display: block;
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
  z-index: 12;
}

.phonescall {
  position: absolute;
  width: 992px;
  height: 460px;
  background-color: #FFF;
  left: 234px;
  top: -18px;
  display: none;
}

.phonescall ul {
  float: left;
  width: calc(992px/4);
  height: 460px;
}

.phonescall ul li {
  height: calc(460px/6);
}

.phonescall ul li a {
  text-align: center;
  line-height: calc(460px/6);
}

.phonescall ul li a:hover {
  color: #ff6700;
}

.phonescall ul li a img {
  margin-left: 30px;
  vertical-align: middle;
}

/* 电视盒子样式 */
.tv-box {
  position: relative;
  transition: all 0.2s;
}

.tv-box:hover .tv-boxs {
  display: block;
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
  z-index: 12;
}

.tv-boxs {
  position: absolute;
  width: 992px;
  height: 460px;
  background-color: #FFF;
  left: 234px;
  top: -60px;
  display: none;
}

.tv-boxs ul {
  float: left;
  width: calc(992px/4);
  height: 460px;
}

.tv-boxs ul li {
  height: calc(460px/6);
}

.tv-boxs ul li a {
  text-align: center;
  line-height: calc(460px/6);
}

.tv-boxs ul li a:hover {
  color: #ff6700;
}

.tv-boxs ul li a img {
  margin-left: 30px;
  vertical-align: middle;
}

/* 笔记本平板样式 */
.notebook {
  position: relative;
  transition: all 0.2s;
}

.notebook:hover .notebooks {
  display: block;
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
  z-index: 12;
}

.notebooks {
  position: absolute;
  width: 992px;
  height: 460px;
  background-color: #FFF;
  left: 234px;
  top: -102px;
  display: none;
}

.notebooks ul {
  float: left;
  width: calc(992px/4);
  height: 460px;
}

.notebooks ul li {
  height: calc(460px/6);
}

.notebooks ul li a {
  text-align: center;
  line-height: calc(460px/6);
}

.notebooks ul li a:hover {
  color: #ff6700;
}

.notebooks ul li a img {
  margin-left: 30px;
  vertical-align: middle;
}

/* 家电插线板 */
.jiadian {
  position: relative;
  transition: all 0.2s;
}

.jiadian:hover .jiadians {
  display: block;
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
  z-index: 12;
}

.jiadians {
  position: absolute;
  width: 992px;
  height: 460px;
  background-color: #FFF;
  left: 234px;
  top: -144px;
  display: none;
}

.jiadians ul {
  float: left;
  width: calc(992px/4);
  height: 460px;
}

.jiadians ul li {
  height: calc(460px/6);
}

.jiadians ul li a {
  text-align: center;
  line-height: calc(460px/6);
}

.jiadians ul li a:hover {
  color: #ff6700;
}

.jiadians ul li a img {
  margin-left: 30px;
  vertical-align: middle;
}


/* 轮播图按钮样式  */
.LunBoTu-AN-left {
  position: absolute;
  color: #fff;
  /* font-size: 40px; */
  padding: 10px 5px;
  float: left;
  left: 235px;
  top: 50%;
  margin-top: -30px;
}

.LunBoTu-AN-left i {
  font-size: 40px;
}

.LunBoTu-AN-left:hover {
  background-color: #00070a;
  padding: 10px 5px;
  color: #fff;
}

.LunBoTu-AN-right {
  position: absolute;
  color: #fff;
  font-size: 40px;
  padding: 10px 5px;
  float: right;
  right: 0px;
  top: 50%;
  margin-top: -30px;
}

.LunBoTu-AN-right i {
  font-size: 40px;
}

.LunBoTu-AN-right:hover {
  background-color: #00070a;
  color: #fff;
  padding: 10px 5px;
}

/* 轮播图右下角按钮样式 */
.LunBoTu-XYD {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.LunBoTu-XYD li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #4f5480;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #b1b1b1;
}

.LunBoTu-XYD li:hover {
  border: 2px solid #b1b1b1;
  background-color: #01141d;
}

/* 广告样式 */
.GuangGao {
  /* float: left; */
  margin-top: 14px;
  height: 170px;
  margin-bottom: 26px;
}

/* 广告-功能栏 */
.GuangGao-GNL {
  float: left;
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}

.GuangGao-GNL a {
  float: left;
  width: calc(234px / 3);
  height: calc(170px / 2);
  text-align: center;
  opacity: 0.75;
}

.GuangGao-GNL a:hover {
  opacity: 1;
}

.GuangGao-GNL a::before {
  content: "";
  position: absolute;
  margin-top: 5px;
  margin-left: -18px;
  height: 1px;
  width: 66px;
  background-color: #665e57;
}

.GuangGao-GNL a::after {
  content: "";
  position: absolute;
  margin-top: -47px;
  margin-left: -35px;
  height: 72px;
  width: 1px;
  background-color: #665e57;
}

.GuangGao-GNL a img {
  width: 22px;
  height: 22px;
  margin-top: 20px;
}

.GuangGao-GNL a span {
  display: block;
  margin: 0 auto;
  font-size: 11px;
  color: #fff;
}

/* 广告-广告栏 */
/* .GuangGao-GGL {
    float: left;
} */

.GuangGao-GGL {
  float: right;
}

.GuangGao-GGL-t {
  margin: 0 15px;
}

.GuangGao-GGL img {
  width: 312px;
  height: 170px;
}

/* 小米闪购样式 */
.XiaoMiShanGou {
  background-color: #f5f5f5;
  height: 402px;
}

/* 小米闪购上部分样式 */

.XiaoMiShanGou-top {
  height: 62px;
}

.XiaoMiShanGou-top>span {
  font-size: 22px;
  float: left;
  line-height: 62px;
  font-weight: 200;
}

.XiaoMiShanGou-top-left-AN {
  margin-top: 30px;
  text-align: center;
  line-height: 22px;
  float: right;
  width: 72px;
  height: 22px;
}

.XiaoMiShanGou-top-left-AN span {
  float: left;
  width: 34px;
  height: 22px;
  border: 1px solid #e0e0e0;
}

.XiaoMiShanGou-top-left-AN span:hover {
  color: #ff6700;
}

/* 小米闪购下部分样式 */

.XiaoMiShanGou-button {
  width: 100%;
  height: 340px;
  /* background-color: pink; */
  /* margin-bottom: 22px; */
}

/* 下部秒杀样式 */
.XiaoMiShanGou-button-MS {
  float: left;
  border-top: 1px solid skyblue;
  text-align: center;
  width: 234px;
  height: 340px;
  background-color: #f1eded;
  box-sizing: border-box;
}

.XiaoMiShanGou-button-MS>span,
.XiaoMiShanGou-button-MS>.XiaoMiShanGou-button-MS-Djs {
  display: block;
}

.XiaoMiShanGou-button-MS>span:nth-child(1) {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 34px;
  font-size: 21px;
  color: red;
}

.XiaoMiShanGou-button-MS>span:nth-child(3) {
  margin: 30px 0px;
  font-size: 15px;
  color: #6f6d6d;
}

.XiaoMiShanGou-button-MS-DJS span {
  color: #fff;
  display: inline-block;
  font-size: 24px;
  width: 46px;
  height: 46px;
  background-color: #605751;
  margin: 0 auto;
  line-height: 46px;
  /* margin-top: 50%; */
}

.XiaoMiShanGou-button-MS-DJS small {
  font-weight: 700;
  font-size: 24px;
}

/* 秒杀内容 */

.XiaoMiShanGou-SPNR {
  float: left;
}

.XiaoMiShanGou-SPNR a {
  text-align: center;
  float: left;
  width: 234px;
  height: 340px;
  background-color: #fff;
  border-top: 1px solid skyblue;
  margin-left: 14px;
}

/* 商品内容———耳机样式 */
.XiaoMiShanGou-SPNR-EJ {
  position: relative;
}

.XiaoMiShanGou-SPNR-EJ p {
  font-size: 14px;
  color: #202020;
  margin-bottom: 11px;
}

.XiaoMiShanGou-SPNR-EJ span {
  font-size: 12px;
  color: #bbbbbb;
}

.XiaoMiShanGou-SPNR-EJ :nth-child(3) {
  display: block;
  margin-bottom: 20px;
}

.XiaoMiShanGou-SPNR-EJ :nth-child(4) {
  color: #fa731e;
}

.XiaoMiShanGou-SPNR-EJ :nth-child(5) {
  color: #adadad;
  text-decoration: line-through;
}

.XiaoMiShanGou-SPNR-EJ::after {
  content: "66元";
  position: absolute;
  line-height: 20px;
  width: 64px;
  height: 20px;
  background-color: #e13834;
  font-size: 11px;
  color: #f9f5f5;
  left: 50%;
  margin-left: -32px;
  top: 0px;
}

/* 商品内容———抽纸 样式 */
.XiaoMiShanGou-SPNR-CZ {
  position: relative;
}

.XiaoMiShanGou-SPNR-CZ p {
  font-size: 14px;
  color: #202020;
  margin-bottom: 11px;
}

.XiaoMiShanGou-SPNR-CZ span {
  font-size: 12px;
  color: #bbbbbb;
}

.XiaoMiShanGou-SPNR-CZ :nth-child(3) {
  display: block;
  margin-bottom: 20px;
}

.XiaoMiShanGou-SPNR-CZ :nth-child(4) {
  color: #fa731e;
}

.XiaoMiShanGou-SPNR-CZ :nth-child(5) {
  color: #adadad;
  text-decoration: line-through;
}

.XiaoMiShanGou-SPNR-CZ::after {
  content: "66元";
  position: absolute;
  line-height: 20px;
  width: 64px;
  height: 20px;
  background-color: #e13834;
  font-size: 11px;
  color: #f9f5f5;
  left: 50%;
  margin-left: -32px;
  top: 0px;
}

/* 商品内容————自行车样式 */
.XiaoMiShanGou-SPNR-ZXC {
  position: relative;
}

.XiaoMiShanGou-SPNR-ZXC p {
  font-size: 14px;
  color: #202020;
  margin-bottom: 11px;
}

.XiaoMiShanGou-SPNR-ZXC span {
  font-size: 12px;
  color: #bbbbbb;
}

.XiaoMiShanGou-SPNR-ZXC :nth-child(3) {
  display: block;
  margin-bottom: 20px;
}

.XiaoMiShanGou-SPNR-ZXC :nth-child(4) {
  color: #fa731e;
}

.XiaoMiShanGou-SPNR-ZXC :nth-child(5) {
  color: #adadad;
  text-decoration: line-through;
}

.XiaoMiShanGou-SPNR-ZXC::after {
  content: "8折";
  position: absolute;
  line-height: 20px;
  width: 64px;
  height: 20px;
  background-color: #e13834;
  font-size: 11px;
  color: #f9f5f5;
  left: 50%;
  margin-left: -32px;
  top: 0px;
}

/* 商品内容————婴儿车样式 */
.XiaoMiShanGou-SPNR-YRC {
  position: relative;
}

.XiaoMiShanGou-SPNR-YRC p {
  font-size: 14px;
  color: #202020;
  margin-bottom: 11px;
}

.XiaoMiShanGou-SPNR-YRC span {
  font-size: 12px;
  color: #bbbbbb;
}

.XiaoMiShanGou-SPNR-YRC :nth-child(3) {
  display: block;
  margin-bottom: 20px;
}

.XiaoMiShanGou-SPNR-YRC :nth-child(4) {
  color: #fa731e;
}

.XiaoMiShanGou-SPNR-YRC :nth-child(5) {
  color: #adadad;
  text-decoration: line-through;
}

.XiaoMiShanGou-SPNR-YRC::after {
  content: "8折";
  position: absolute;
  line-height: 20px;
  width: 64px;
  height: 20px;
  background-color: #e13834;
  font-size: 11px;
  color: #f9f5f5;
  left: 50%;
  margin-left: -32px;
  top: 0px;
}

/* 小米9pro版心广告样式 */

.GuangGao-XiaoMi9Pro {
  background-color: #f5f5f5;
  height: 124px;
  padding: 22px 0px;
}

.GuangGao-XiaoMi9Pro a {
  display: block;
  /* margin-top: 22px; */
}

/* 手机块样式 */
.phone {
  background-color: #f5f5f5;
}

/* 手机块上部分样式*/
.phone-top {
  height: 58px;
}

.phone-top>span {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.phone-top>div>a {
  float: right;
  font-size: 17px;
  margin-top: 25px;
}

.phone-top>div>a:hover {
  color: #ff6700;
}

.phone-top>div>a>i {
  font-size: 19px;
}

/* 手机内容列表样式 */
.phone-NR {
  height: 614px;
}

/* 手机列表左部样式 */
.phone-NR-left {
  width: 234px;
  float: left;
  transition: all 0.2s;
}

.phone-NR-left:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

/* 手机列表右部样式 */
.phone-NR-right {
  float: right;
  width: 992px;
}

.phone-NR-right a {
  float: left;
  /* display: inline-block; */
  width: 234px;
  height: 300px;
  background-color: #fff;
  font-size: 0px;
  margin-left: 14px;
  /* margin-bottom: 14px; */
  text-align: center;
  /* margin: 0 auto; */
  transition: all 0.2s;
}

.phone-NR-right a span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.phone-NR-right a:nth-child(-n + 4) {
  margin-bottom: 14px;
}

.phone-NR-right a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.phone-NR-right a span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.phone-NR-right a span:nth-child(4) {
  font-size: 12px;
  color: #ff6700;
}

.phone-NR-right a span del {
  font-size: 10px;
  color: #b0b0b0;
  text-decoration: line-through;
}

/* 小米电视特惠版心广告  */
.GuangGao-XiaoMi-DSTH {
  padding: 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}

/* 家电样式 */
/* 家电标题样式 */
.homeapp-title {
  height: 58px;
}

.homeapp-title-left {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.homeapp-title-right {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.homeapp-title-right a {
  margin-left: 30px;
  padding: 5px 0;
}

.homeapp-title-right a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 家电列表样式 */
.homeapp {
  background-color: #f5f5f5;
}

.homeapp-list>a {
  float: left;
  text-align: center;
  margin-left: 14px;
  width: 234px;
  height: 300px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.homeapp-list>a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.homeapp-list>a:nth-child(1) {
  margin-left: 0;
}

.homeapp-list a:nth-child(6) {
  margin-left: 0;
}

.homeapp-list>a:nth-child(-n + 5) {
  margin-bottom: 14px;
}

.homeapp-list>a>span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.homeapp-list>a>span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.homeapp-list>a>span:nth-child(4) {
  color: #ff6700;
}

.homeapp-list>a>span del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/*  家电末尾盒子样式 */
.homeapp-more {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
}

/* 家电末尾盒子样式上部分样式 */
.homeapp-more-top {
  display: block;
  background-color: #ffffff;
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  transition: all 0.2s;
}

.homeapp-more-top:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.homeapp-more-top-left {
  float: left;
  margin-left: 30px;
  margin-top: 46px;
}

.homeapp-more-top-left p:first-child {
  font-size: 14px;
  width: 88px;
  margin-bottom: 14px;
}

.homeapp-more-top-left p:last-child {
  color: #ff6700;
}

.homeapp-more-top-right {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

.homeapp-more-top-right span {
  font-size: 66PX;
}

/* 家电末尾盒子样式下部分样式 */
.homeapp-more-bottom {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 0.2s;
}

.homeapp-more-bottom:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.homeapp-more-bottom-left {
  float: left;
  margin-top: 54px;
  margin-left: 31px;
}

.homeapp-more-bottom-right {
  float: right;
  margin-top: 48px;
  margin-right: 34px;
  font-size: 48px;
}

.homeapp-more-bottom-right span {
  font-size: 48px;
  color: #ff6700;
}

.homeapp-more-bottom-left p:first-child {
  font-size: 18px;
  margin-bottom: 14px;
}

/* 10.米家智能门版心广告样式 */
.GuangGao-XiaoMi-MJZNM {
  padding: 22px 0px 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}

/* 智能样式 */
.ZhiNeng {
  background-color: #f5f5f5;
}

/* 智能标题样式 */
.ZhiNeng-title {
  height: 58px;
}

.ZhiNeng-title-left {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.ZhiNeng-title-right {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.ZhiNeng-title-right a {
  margin-left: 30px;
  padding: 5px 0;
}

.ZhiNeng-title-right a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 智能列表样式 */


.ZhiNeng-list>a {
  float: left;
  text-align: center;
  margin-left: 14px;
  width: 234px;
  height: 300px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.ZhiNeng-list>a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhiNeng-list>a:nth-child(1) {
  margin-left: 0;
}

.ZhiNeng-list a:nth-child(6) {
  margin-left: 0;
}

.ZhiNeng-list>a:nth-child(-n + 5) {
  margin-bottom: 14px;
}

.ZhiNeng-list a span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.ZhiNeng-list a span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.ZhiNeng-list a span:nth-child(4) {
  color: #ff6700;
}

.ZhiNeng-list a span del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/*  家电末尾盒子样式 */
.ZhiNeng-more {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
}

/* 家电末尾盒子样式上部分样式 */
.ZhiNeng-more-top {
  display: block;
  background-color: #ffffff;
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  transition: all 0.2s;
}

.ZhiNeng-more-top:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhiNeng-more-top-left {
  float: left;
  margin-left: 30px;
  margin-top: 46px;
}

.ZhiNeng-more-top-left p:first-child {
  font-size: 14px;
  width: 88px;
  margin-bottom: 14px;
}

.ZhiNeng-more-top-left p:last-child {
  color: #ff6700;
}

.ZhiNeng-more-top-right {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

/* 家电末尾盒子样式下部分样式 */
.ZhiNeng-more-bottom {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 0.2s;
}

.ZhiNeng-more-bottom:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhiNeng-more-bottom-left {
  float: left;
  margin-top: 54px;
  margin-left: 31px;
}

.ZhiNeng-more-bottom-right {
  float: right;
  margin-top: 48px;
  margin-right: 34px;
  font-size: 48px;
}

.ZhiNeng-more-bottom-left p:first-child {
  font-size: 18px;
  margin-bottom: 14px;
}

.ZhiNeng-more-bottom-right i {
  font-size: 48px;
  color: #ff6700;
}

/* 米家电纸书心广告样式 */
.GuangGao-XiaoMi-XMDZS {
  padding: 22px 0px 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}


/* 搭配样式 */
.DaPei {
  background-color: #f5f5f5;
}

/* 搭配标题样式 */
.DaPei-title {
  height: 58px;
}

.DaPei-title-left {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.DaPei-title-right {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.DaPei-title-right a {
  margin-left: 30px;
  padding: 5px 0;
}

.DaPei-title-right a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 搭配列表样式  */
.DaPei-list>a {
  float: left;
  text-align: center;
  margin-left: 14px;
  width: 234px;
  height: 300px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.DaPei-list>a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.DaPei-list>a:nth-child(1) {
  margin-left: 0;
}

.DaPei-list a:nth-child(6) {
  margin-left: 0;
}

.DaPei-list>a:nth-child(-n + 5) {
  margin-bottom: 14px;
}

.DaPei-list a span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.DaPei-list a span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.DaPei-list a span:nth-child(4) {
  color: #ff6700;
}

.DaPei-list a span del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/*  搭配末尾盒子样式 */
.DaPei-more {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
}

/* 搭配末尾盒子样式上部分样式 */
.DaPei-more-top {
  display: block;
  background-color: #ffffff;
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  transition: all 0.2s;
}

.DaPei-more-top:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.DaPei-more-top-left {
  float: left;
  margin-left: 30px;
  margin-top: 46px;
}

.DaPei-more-top-left p:first-child {
  font-size: 14px;
  width: 88px;
  margin-bottom: 14px;
}

.DaPei-more-top-left p:last-child {
  color: #ff6700;
}

.DaPei-more-top-right {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}



/* 搭配末尾盒子样式下部分样式 */
.DaPei-more-bottom {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 0.2s;
}

.DaPei-more-bottom:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.DaPei-more-bottom-left {
  float: left;
  margin-top: 54px;
  margin-left: 31px;
}

.DaPei-more-bottom-right {
  float: right;
  margin-top: 48px;
  margin-right: 34px;
  font-size: 48px;
}

.DaPei-more-bottom-left p:first-child {
  font-size: 18px;
  margin-bottom: 14px;
}

.DaPei-more-bottom-right i {
  font-size: 48px;
  color: #ff6700;
}


/* 14.米家互联网空调版心广告样式 */
.GuangGao-XiaoMi-MJHLWKT {
  padding: 22px 0px 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}



/* 配件样式 */
.PeiJian {
  background-color: #f5f5f5;
}

/* 配件标题样式 */
.PeiJian-title {
  height: 58px;
}

.PeiJian-title-left {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.PeiJian-title-right {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.PeiJian-title-right a {
  margin-left: 30px;
  padding: 5px 0;
}

.PeiJian-title-right a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 配件列表样式  */
.PeiJian-list>a {
  float: left;
  text-align: center;
  margin-left: 14px;
  width: 234px;
  height: 300px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.PeiJian-list>a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.PeiJian-list>a:nth-child(1) {
  margin-left: 0;
}

.PeiJian-list a:nth-child(6) {
  margin-left: 0;
}

.PeiJian-list>a:nth-child(-n + 5) {
  margin-bottom: 14px;
}

.PeiJian-list a span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.PeiJian-list a span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.PeiJian-list a span:nth-child(4) {
  color: #ff6700;
}

.PeiJian-list a span del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/*  配件末尾盒子样式 */
.PeiJian-more {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
}

/* 配件末尾盒子样式上部分样式 */
.PeiJian-more-top {
  display: block;
  background-color: #ffffff;
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  transition: all 0.2s;
}

.PeiJian-more-top:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.PeiJian-more-top-left {
  float: left;
  margin-left: 30px;
  margin-top: 46px;
}

.PeiJian-more-top-left p:first-child {
  font-size: 14px;
  width: 88px;
  margin-bottom: 14px;
}

.PeiJian-more-top-left p:last-child {
  color: #ff6700;
}

.PeiJian-more-top-right {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

/* 配件末尾盒子样式下部分样式 */
.PeiJian-more-bottom {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 0.2s;
}

.PeiJian-more-bottom:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.PeiJian-more-bottom-left {
  float: left;
  margin-top: 54px;
  margin-left: 31px;
}

.PeiJian-more-bottom-right {
  float: right;
  margin-top: 48px;
  margin-right: 34px;
  font-size: 48px;
}

.PeiJian-more-bottom-left p:first-child {
  font-size: 18px;
  margin-bottom: 14px;
}

.PeiJian-more-bottom-right i {
  font-size: 48px;
  color: #ff6700;
}

/* 米家儿童手表版心广告样式 */
.GuangGao-XiaoMi-MTETSB {
  padding: 22px 0px 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}



/* 周边样式 */
.ZhouBian {
  background-color: #f5f5f5;
}

/* 周边标题样式 */
.ZhouBian-title {
  height: 58px;
}

.ZhouBian-title-left {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.ZhouBian-title-right {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.ZhouBian-title-right a {
  margin-left: 30px;
  padding: 5px 0;
}

.ZhouBian-title-right a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 周边列表样式  */
.ZhouBian-list>a {
  float: left;
  text-align: center;
  margin-left: 14px;
  width: 234px;
  height: 300px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.ZhouBian-list>a:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhouBian-list>a:nth-child(1) {
  margin-left: 0;
}

.ZhouBian-list a:nth-child(6) {
  margin-left: 0;
}

.ZhouBian-list>a:nth-child(-n + 5) {
  margin-bottom: 14px;
}

.ZhouBian-list a span {
  display: block;
  font-size: 14px;
  color: #202020;
  margin-bottom: 12px;
}

.ZhouBian-list a span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
}

.ZhouBian-list a span:nth-child(4) {
  color: #ff6700;
}

.ZhouBian-list a span del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/*  周边末尾盒子样式 */
.ZhouBian-more {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
}

/* 周边末尾盒子样式上部分样式 */
.ZhouBian-more-top {
  display: block;
  background-color: #ffffff;
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  transition: all 0.2s;
}

.ZhouBian-more-top:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhouBian-more-top-left {
  float: left;
  margin-left: 30px;
  margin-top: 46px;
}

.ZhouBian-more-top-left p:first-child {
  font-size: 14px;
  width: 88px;
  margin-bottom: 14px;
}

.ZhouBian-more-top-left p:last-child {
  color: #ff6700;
}

.ZhouBian-more-top-right {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

/* 周边末尾盒子样式下部分样式 */
.ZhouBian-more-bottom {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 0.2s;
}

.ZhouBian-more-bottom:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ZhouBian-more-bottom-left {
  float: left;
  margin-top: 54px;
  margin-left: 31px;
}

.ZhouBian-more-bottom-right {
  float: right;
  margin-top: 48px;
  margin-right: 34px;
  font-size: 48px;
}

.ZhouBian-more-bottom-right i {
  font-size: 48px;
  color: #ff6700;
}

.ZhouBian-more-bottom-left p:first-child {
  font-size: 18px;
  margin-bottom: 14px;
}

/* 米家儿童手表版心广告样式 */
.GuangGao-XiaoMi-XMJNX {
  padding: 22px 0px 22px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 164px;
}





/* 视频样式 */
.ShiPin {
  background-color: #f5f5f5;
}

/* 视频标题样式 */
.ShiPin-title {
  height: 58px;
}

.ShiPin-title span {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.ShiPin-title>div {
  float: right;
  font-size: 17px;
  margin-top: 25px;
}

.ShiPin-title>div>a:hover {
  color: #ff6700;
}

.ShiPin-title>div>a>i {
  font-size: 19px;
}

.ShiPin-title>div>a>i:hover {
  color: #ff6700;
}

/* 视频列表样式 */

.ShiPin-list-movie {
  position: relative;
  float: left;
  width: 296px;
  height: 285px;
  margin-right: 14px;
  background-color: #fff;
  transition: all 0.2s;
  margin-bottom: 30px;
}

.ShiPin-list-movie:hover {
  box-shadow: 0 0 12px #605751;
  transform: translate3d(0, -2px, 0);
}

.ShiPin-list-movie:last-child {
  margin-right: 0;
}

.ShiPin-list-movie p {
  text-align: center;
  font-size: 14px;
  margin-top: 32px;
  color: #333333;
}

.ShiPin-list-movie a {
  position: absolute;
  left: 7px;
  top: 143px;
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  text-align: center;
  line-height: 20px;
}

.ShiPin-list-movie a:hover {
  background-color: #ff6700;
  border: 2px solid #ff6700;
}

.ShiPin-list-movie a i {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

/* 服务样式 */
.FuWu .container {
  border-bottom: 1px solid #616161;
}

.FuWu a {
  display: inline-block;
  font-size: 20px;
  color: #616161;
  text-align: center;
  height: 80px;
  width: 237px;
  line-height: 80px;
}

.FuWu a:hover {
  color: #ff6700;
}

/* 售后样式 */
.ShouHou {
  margin-top: 27px;
  /* border: 1px solid #b0b0b0; */
}

/* 售后左部盒子样式 */
.ShouHou-left dl {
  float: left;
  margin-right: 103px;
  font-size: 14px;
}

.ShouHou-left dl dt {
  font-size: 14px;
  color: #333333;
  margin-bottom: 28px;
}

.ShouHou-left dl dd {
  font-size: 12px;
  color: #333333;
  line-height: 28px;
}

.ShouHou-left dl dd:hover {
  color: #ff6700;
}

/* 售后右部盒子样式 */
.ShouHou-right {
  float: left;
  padding: 0 60px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}

.ShouHou-right p {
  font-size: 22px;
  color: #ff6700;
  margin-bottom: 10px;
  text-align: center;
}

.ShouHou-right p:nth-child(2) {
  font-size: 12px;
  color: #616161;
  line-height: 18px;
  text-align: center;
}

.ShouHou-right a {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin-top: 12px;
  border: 1px solid #ff6700;
  line-height: 30px;
  text-align: center;
  color: #ff6700;
  box-sizing: border-box;
}

.ShouHou-right a:hover {
  color: #fff;
  background-color: #ff6700;
}

/* 浏览器底部样式 */
.nav-bottom {
  background-color: #fafafa;
  padding: 30px 0;
}

/* 浏览器底部左侧样式 */
.nav-bottom-left-logo {
  float: left;
  padding: 3px;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  text-align: center;
  box-sizing: border-box;
}

/* 底部浏览器右侧样式 */
.nav-bottom-right {
  width: calc(1226px - 55px);
  padding-left: 10px;
  float: left;
  box-sizing: border-box;
}

/* 底部浏览器右侧列表样式 */
.nav-bottom-right-list,
.nav-bottom-right-list a {
  color: #757575;
  line-height: 18px;

}

.nav-bottom-right-list a:hover {

  color: #ff6700;
}

/* 底部浏览器右侧许可证样式 */
.nav-bottom-right-permit span,
.nav-bottom-right-permit a {
  color: #b0b0b0;
  line-height: 1.5;
}

/* 底部浏览器右侧商标样式 */
.nav-bottom-right-brand {
  margin-top: 10px;
}

.nav-bottom-right-brandd img:first-child {
  width: 85px;
}

/* 底部浏览器标语 */
.nav-bottom-slogan {
  margin-top: 20px;
  text-align: center;
}