html {
    /* margin-bottom: 1500px; */
}

/* 顶部导航栏 */
.top-nav {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.top-nav-left {
    float: left;
}

.top-nav-left>a,
.top-nav-left>i {
    float: left;
    color: #fff;
    line-height: 40px;
}

.top-nav-left>i {
    margin: 0 6px;
}

.top-nav-right>a,
.top-nav-right>i {
    float: right;
    color: #fff;
    line-height: 40px;
}

.top-nav-right>i {
    margin: 0 6px;
}

/* 头部导航栏 */
header {
    width: 100%;
    height: 100px;
    background-color: #fff;

}

.left-logo {
    margin-top: 25px;
    width: 187px;
    height: 55px;
    float: left;
    background-image: url(../../img/jinrong-img/jinrong_logo.png);
    background-position: center center;
}

.right-nav {
    float: right;
}

.right-nav>a {
    float: left;
    font-size: 18px;
    color: #212121;
    margin-left: 46px;
    line-height: 100px;
}

/* 主题样式 */
main {
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url(../../img/jinrong-img/baner.jpg);
    text-align: center;
}

main>h1 {
    font-size: 54px;
    color: #fff;
    padding-top: 193px;
}

main>a {
    display: block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    background-color: #f93f2b;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 6px;
}

main>a:hover {
    color: #fff;
}

/* 定位盒子样式 */
.position-box {
    position: absolute;
    margin: 0 auto;
    left: 345px;
    bottom: -366px;
    width: 1200px;
    /* height: 500px; */
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 28px;
}

.position-box li {
    float: left;
    width: 360px;
    /* height: 180px; */
    overflow: hidden;
    margin-right: 28px;
}

.position-box li:nth-child(1) {
    margin-left: 28px;
}

.box {
    float: left;
    width: 360px;
    height: 180px;
    font-size: 33px;
    color: #fff;
    padding: 30px;
    background-color: #ff9618;
    box-sizing: border-box;
    text-align: left;
}

.box:hover {
    color: #fff;
}

.position-box li>div {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding-left: 30px;
}

.p-one a {
    display: inline-block;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}

.p-one :nth-child(1) {
    /* margin-top: 20px; */
    color: #ff9618;
    font-size: 16px;
}

.p-one :nth-child(2) {
    color: #666666;
    margin: 0 10px;
}

.p-one:nth-child(3) {
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}

.more {
    display: inline-block;
    color: #fd3911;
    font-size: 16px;
    padding: 20px 0;
}

/* 底部盒子样式 */
footer {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 450px;
    margin-bottom: 100px;
    padding-left: 82px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.footer-left {
    float: left;
}

.footer-left p:nth-child(1) {
    margin-bottom: 12px;
}

.footer-left p span {
    font-size: 14px;
    color: #575757;
}

.footer-left p i {
    margin-right: 6px;
}

.footer-left img {
    position: absolute;
    left: 30px;
    top: 0;
}

.footer-right {
    float: right;
}

.footer-right span {
    font-size: 14px;
    color: #575757;
}

.footer-right p {
    margin: 12px 0;
    font-size: 26px;
    color: #e84519;
}